<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0">
<dict>
<key>autocapitalization</key>	<true/>
<key>candidateMode</key>     	<integer>1</integer>
<key>environmentID</key>     	<string>English</string>
<key>inputRules</key><array>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>,</string><key>input2</key>
    <string>.</string><key>output</key>
    <string>;</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>.</string><key>input2</key>
    <string>.</string><key>output</key>
    <string>‥</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>.</string><key>input2</key>
    <string>,</string><key>output</key>
    <string>:</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>‥</string><key>input2</key>
    <string>.</string><key>output</key>
    <string>…</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>․</string><key>input2</key>
    <string>.</string><key>output</key>
    <string>‥</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>‘</string><key>input2</key>
    <string>‘</string><key>output</key>
    <string>“</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>’</string><key>input2</key>
    <string>’</string><key>output</key>
    <string>”</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>₽</string><key>input2</key>
    <string>₽</string><key>output</key>
    <string>$</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>€</string><key>input2</key>
    <string>₽</string><key>output</key>
    <string>£</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>$</string><key>input2</key>
    <string>₽</string><key>output</key>
    <string>€</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>£</string><key>input2</key>
    <string>₽</string><key>output</key>
    <string>¥</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>¥</string><key>input2</key>
    <string>₽</string><key>output</key>
    <string>₽</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>†</string><key>input2</key>
    <string>†</string><key>output</key>
    <string>‡</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>†</string><key>input2</key>
    <string>*</string><key>output</key>
    <string>⁑</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>⁑</string><key>input2</key>
    <string>*</string><key>output</key>
    <string>⁂</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>°</string><key>input2</key>
    <string>°</string><key>output</key>
    <string>℃</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>℃</string><key>input2</key>
    <string>°</string><key>output</key>
    <string>℉</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>℉</string><key>input2</key>
    <string>°</string><key>output</key>
    <string>°</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>%</string><key>input2</key>
    <string>%</string><key>output</key>
    <string>‰</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>‰</string><key>input2</key>
    <string>%</string><key>output</key>
    <string>‱</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>‱</string><key>input2</key>
    <string>%</string><key>output</key>
    <string>%</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>·</string><key>input2</key>
    <string>·</string><key>output</key>
    <string>⁚</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>⁚</string><key>input2</key>
    <string>·</string><key>output</key>
    <string>⁖</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>⁖</string><key>input2</key>
    <string>·</string><key>output</key>
    <string>⁘</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>⁘</string><key>input2</key>
    <string>·</string><key>output</key>
    <string>⁙</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>⁙</string><key>input2</key>
    <string>·</string><key>output</key>
    <string>·</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>:</string><key>input2</key>
    <string>.</string><key>output</key>
    <string>⁝</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>⁝</string><key>input2</key>
    <string>.</string><key>output</key>
    <string>⁞</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>.</string><key>input2</key>
    <string>=</string><key>output</key>
    <string>!</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>.</string><key>input2</key>
    <string>-</string><key>output</key>
    <string>?</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>.</string><key>input2</key>
    <string>—</string><key>output</key>
    <string>!</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>-</string><key>input2</key>
    <string>-</string><key>output</key>
    <string>—</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>—</string><key>input2</key>
    <string>-</string><key>output</key>
    <string>–</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>–</string><key>input2</key>
    <string>-</string><key>output</key>
    <string>-</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>,</string><key>input2</key>
    <string>г</string><key>output</key>
    <string>1</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>,</string><key>input2</key>
    <string>ш</string><key>output</key>
    <string>2</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>,</string><key>input2</key>
    <string>щ</string><key>output</key>
    <string>3</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>,</string><key>input2</key>
    <string>р</string><key>output</key>
    <string>4</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>,</string><key>input2</key>
    <string>о</string><key>output</key>
    <string>5</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>,</string><key>input2</key>
    <string>л</string><key>output</key>
    <string>6</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>,</string><key>input2</key>
    <string>д</string><key>output</key>
    <string>7</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>,</string><key>input2</key>
    <string>т</string><key>output</key>
    <string>8</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>,</string><key>input2</key>
    <string>ь</string><key>output</key>
    <string>9</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>,</string><key>input2</key>
    <string>-</string><key>output</key>
    <string>0</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>,</string><key>input2</key>
    <string>=</string><key>output</key>
    <string>?</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>,</string><key>input2</key>
    <string>н</string><key>output</key>
    <string>−</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>,</string><key>input2</key>
    <string>з</string><key>output</key>
    <string>+</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>,</string><key>input2</key>
    <string>"</string><key>output</key>
    <string>∕</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>,</string><key>input2</key>
    <string>д</string><key>output</key>
    <string>⋅</string></dict>
    <string>Ь</string><key>input2</key>
    <string>Ь</string><key>output</key>
    <string>Ъ</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>Ъ</string><key>input2</key>
    <string>Ь</string><key>output</key>
    <string>Ь</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>ъ</string><key>input2</key>
    <string>ь</string><key>output</key>
    <string>ь</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>Ь</string><key>input2</key>
    <string>ь</string><key>output</key>
    <string>Ъ</string></dict>
  <dict><key>type</key><integer>0</integer><key>input1</key>
    <string>Ъ</string><key>input2</key>
    <string>ь</string><key>output</key>
    <string>Ь</string></dict>
</array>
<key>letters</key><array>
  <string>А</string><string>Б</string><string>В</string><string>Г</string><string>Д</string><string>Е</string><string>Ё</string><string>Ж</string><string>З</string><string>И</string><string>Й</string><string>К</string><string>Л</string><string>М</string><string>Н</string><string>О</string><string>П</string><string>Р</string><string>С</string><string>Т</string><string>У</string><string>Ф</string><string>Х</string><string>Ц</string><string>Ч</string><string>Ш</string><string>Щ</string><string>Ъ</string><string>Ы</string><string>Ь</string><string>Э</string><string>Ю</string><string>Я</string>
  <string>а</string><string>б</string><string>в</string><string>г</string><string>д</string><string>е</string><string>ё</string><string>ж</string><string>з</string><string>и</string><string>й</string><string>к</string><string>л</string><string>м</string><string>н</string><string>о</string><string>п</string><string>р</string><string>с</string><string>т</string><string>у</string><string>ф</string><string>х</string><string>ц</string><string>ч</string><string>ш</string><string>щ</string><string>ъ</string><string>ы</string><string>ь</string><string>э</string><string>ю</string><string>я</string>
</array>
<key>period</key>        	<string>.</string>
<key>periodShortcut</key>	<false/>
<key>quotationMark</key> 	<string>«»</string>
<key>type</key>          	<string>Language1</string>
</dict>
</plist>
