<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autocapitalization</key>
	<true/>
	<key>candidateMode</key>
	<integer>1</integer>
	<key>environmentID</key>
	<string>English</string>
	<key>inputRules</key>
	<array>
		<dict>
			<key>input1</key>
			<string>,</string>
			<key>input2</key>
			<string>.</string>
			<key>output</key>
			<string>;</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>input1</key>
			<string>.</string>
			<key>input2</key>
			<string>.</string>
			<key>output</key>
			<string>‥</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>input1</key>
			<string>.</string>
			<key>input2</key>
			<string>,</string>
			<key>output</key>
			<string>:</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>input1</key>
			<string>‥</string>
			<key>input2</key>
			<string>.</string>
			<key>output</key>
			<string>…</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>input1</key>
			<string>․</string>
			<key>input2</key>
			<string>.</string>
			<key>output</key>
			<string>‥</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>input1</key>
			<string>‘</string>
			<key>input2</key>
			<string>‘</string>
			<key>output</key>
			<string>“</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>input1</key>
			<string>’</string>
			<key>input2</key>
			<string>’</string>
			<key>output</key>
			<string>”</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>input1</key>
			<string>₽</string>
			<key>input2</key>
			<string>₽</string>
			<key>output</key>
			<string>$</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>input1</key>
			<string>€</string>
			<key>input2</key>
			<string>₽</string>
			<key>output</key>
			<string>£</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>input1</key>
			<string>$</string>
			<key>input2</key>
			<string>₽</string>
			<key>output</key>
			<string>€</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>input1</key>
			<string>£</string>
			<key>input2</key>
			<string>₽</string>
			<key>output</key>
			<string>¥</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>input1</key>
			<string>¥</string>
			<key>input2</key>
			<string>₽</string>
			<key>output</key>
			<string>₽</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>input1</key>
			<string>†</string>
			<key>input2</key>
			<string>†</string>
			<key>output</key>
			<string>‡</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>input1</key>
			<string>†</string>
			<key>input2</key>
			<string>*</string>
			<key>output</key>
			<string>⁑</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>input1</key>
			<string>⁑</string>
			<key>input2</key>
			<string>*</string>
			<key>output</key>
			<string>⁂</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>input1</key>
			<string>°</string>
			<key>input2</key>
			<string>°</string>
			<key>output</key>
			<string>℃</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>input1</key>
			<string>℃</string>
			<key>input2</key>
			<string>°</string>
			<key>output</key>
			<string>℉</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>input1</key>
			<string>℉</string>
			<key>input2</key>
			<string>°</string>
			<key>output</key>
			<string>°</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>input1</key>
			<string>%</string>
			<key>input2</key>
			<string>%</string>
			<key>output</key>
			<string>‰</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>input1</key>
			<string>‰</string>
			<key>input2</key>
			<string>%</string>
			<key>output</key>
			<string>‱</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>input1</key>
			<string>‱</string>
			<key>input2</key>
			<string>%</string>
			<key>output</key>
			<string>%</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>input1</key>
			<string>·</string>
			<key>input2</key>
			<string>·</string>
			<key>output</key>
			<string>⁚</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>input1</key>
			<string>⁚</string>
			<key>input2</key>
			<string>·</string>
			<key>output</key>
			<string>⁖</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>input1</key>
			<string>⁖</string>
			<key>input2</key>
			<string>·</string>
			<key>output</key>
			<string>⁘</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>input1</key>
			<string>⁘</string>
			<key>input2</key>
			<string>·</string>
			<key>output</key>
			<string>⁙</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>input1</key>
			<string>⁙</string>
			<key>input2</key>
			<string>·</string>
			<key>output</key>
			<string>·</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>input1</key>
			<string>:</string>
			<key>input2</key>
			<string>.</string>
			<key>output</key>
			<string>⁝</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>input1</key>
			<string>⁝</string>
			<key>input2</key>
			<string>.</string>
			<key>output</key>
			<string>⁞</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>input1</key>
			<string>,</string>
			<key>input2</key>
			<string>-</string>
			<key>output</key>
			<string>?</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>input1</key>
			<string>.</string>
			<key>input2</key>
			<string>-</string>
			<key>output</key>
			<string>!</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>input1</key>
			<string>.</string>
			<key>input2</key>
			<string>—</string>
			<key>output</key>
			<string>!</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>letters</key>
	<array>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>L</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>Ф</string>
		<string>И</string>
		<string>С</string>
		<string>В</string>
		<string>У</string>
		<string>А</string>
		<string>П</string>
		<string>Р</string>
		<string>Ш</string>
		<string>О</string>
		<string>Д</string>
		<string>Д</string>
		<string>Ь</string>
		<string>Т</string>
		<string>Щ</string>
		<string>З</string>
		<string>Й</string>
		<string>К</string>
		<string>Ы</string>
		<string>Е</string>
		<string>Г</string>
		<string>М</string>
		<string>Ц</string>
		<string>Ч</string>
		<string>Н</string>
		<string>Я</string>
		<string>ф</string>
		<string>и</string>
		<string>с</string>
		<string>в</string>
		<string>у</string>
		<string>а</string>
		<string>п</string>
		<string>р</string>
		<string>ш</string>
		<string>о</string>
		<string>л</string>
		<string>д</string>
		<string>ь</string>
		<string>т</string>
		<string>щ</string>
		<string>з</string>
		<string>й</string>
		<string>к</string>
		<string>ы</string>
		<string>е</string>
		<string>г</string>
		<string>м</string>
		<string>ц</string>
		<string>ч</string>
		<string>н</string>
		<string>я</string>
	</array>
	<key>period</key>
	<string>.</string>
	<key>periodShortcut</key>
	<false/>
	<key>quotationMark</key>
	<string>“”</string>
	<key>type</key>
	<string>Language1</string>
</dict>
</plist>
