<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deviceType</key>
	<integer>0</integer>
	<key>heightRatio</key>
	<real>1</real>
	<key>panel</key>
	<dict>
		<key>layers</key>
		<array>
			<dict>
				<key>layerID</key>
				<string>3FBE7F70-67DC-4200-A83E-5C10CBAAB35F</string>
				<key>layout</key>
				<dict>
					<key>autoModel</key>
					<true/>
					<key>cell</key>
					<dict>
						<key>cellID</key>
						<string>99E92214-00EA-43BB-8B26-B2CD84196281</string>
					</dict>
					<key>layoutType</key>
					<string>One</string>
				</dict>
				<key>layoutMap</key>
				<dict>
					<key>99E92214-00EA-43BB-8B26-B2CD84196281</key>
					<string>07035D88-FC71-465D-946E-F120F5CF39D8</string>
				</dict>
				<key>sections</key>
				<array>
					<dict>
						<key>layers</key>
						<array>
							<dict>
								<key>control</key>
								<dict>
									<key>cells</key>
									<array>
										<dict>
											<key>candidateKeys</key>
											<array>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>.</string>
													</dict>
													<key>keyID</key>
													<string>.</string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>␠</string>
													</dict>
													<key>keyID</key>
													<string>547DE763-DD9F-44FC-84C6-B270EE21D7FC</string>
													<key>output</key>
													<string> </string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>␠#</string>
													</dict>
													<key>keyID</key>
													<string>4DC35DEC-C005-4BD3-AEB9-3BCED9343BE8</string>
													<key>output</key>
													<string> </string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>␠.</string>
													</dict>
													<key>keyID</key>
													<string>A3E24FDC-879C-4746-B45E-143A86F1EBC1</string>
													<key>output</key>
													<string> </string>
												</dict>
											</array>
											<key>cellID</key>
											<string>355A8159-E8D3-4257-8A20-93150A9BFF1C</string>
											<key>key</key>
											<dict>
												<key>keyCap</key>
												<dict>
													<key>text</key>
													<string>‒#</string>
												</dict>
												<key>keyID</key>
												<string>BB00DB10-B26C-45BB-A300-23F6FD95C3C3</string>
												<key>output</key>
												<string>‒</string>
											</dict>
										</dict>
										<dict>
											<key>candidateKeys</key>
											<array>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>(</string>
													</dict>
													<key>keyID</key>
													<string>(</string>
												</dict>
											</array>
											<key>cellID</key>
											<string>236E8453-999C-41C1-B743-11524C74B17F</string>
											<key>key</key>
											<dict>
												<key>keyCap</key>
												<dict>
													<key>text</key>
													<string>1</string>
												</dict>
												<key>keyID</key>
												<string>1</string>
												<key>output</key>
												<string>1</string>
											</dict>
										</dict>
										<dict>
											<key>cellID</key>
											<string>06D95483-04E4-484F-8A54-B5646F810CAB</string>
											<key>key</key>
											<dict>
												<key>keyCap</key>
												<dict>
													<key>text</key>
													<string>2abc</string>
												</dict>
												<key>keyID</key>
												<string>CF989C67-DB94-404C-AAE3-247327120CF3</string>
												<key>output</key>
												<string>2</string>
											</dict>
										</dict>
										<dict>
											<key>candidateKeys</key>
											<array>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>)</string>
													</dict>
													<key>keyID</key>
													<string>)</string>
												</dict>
											</array>
											<key>cellID</key>
											<string>26506446-6BF2-4709-94D0-6668395D44E5</string>
											<key>key</key>
											<dict>
												<key>keyCap</key>
												<dict>
													<key>text</key>
													<string>3def</string>
												</dict>
												<key>keyID</key>
												<string>720E93AB-C539-4422-B20D-5D3A520A0043</string>
												<key>output</key>
												<string>3</string>
											</dict>
										</dict>
										<dict>
											<key>candidateKeys</key>
											<array>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>+7</string>
													</dict>
													<key>keyID</key>
													<string>1C41279D-009F-4507-94C4-FC518D36D285</string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>+1</string>
													</dict>
													<key>keyID</key>
													<string>9DA9FCAA-C752-4FE5-9B34-48F2B689F801</string>
												</dict>
											</array>
											<key>cellID</key>
											<string>601B7F98-769C-452E-90CF-AADA1ED62A96</string>
											<key>key</key>
											<dict>
												<key>keyCap</key>
												<dict>
													<key>text</key>
													<string>+</string>
												</dict>
												<key>keyID</key>
												<string>+</string>
											</dict>
										</dict>
										<dict>
											<key>backgroundHidden</key>
											<true/>
											<key>cellID</key>
											<string>41F7970C-4FED-4FB5-92DD-EA799B5EADB7</string>
											<key>key</key>
											<dict>
												<key>keyCap</key>
												<dict>
													<key>icon</key>
													<integer>2</integer>
												</dict>
												<key>keyID</key>
												<string>backspace</string>
												<key>repeatEnabled</key>
												<true/>
												<key>type</key>
												<integer>3</integer>
											</dict>
										</dict>
										<dict>
											<key>candidateKeys</key>
											<array>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>␠.(</string>
													</dict>
													<key>keyID</key>
													<string>E31384B1-684F-4340-9949-263668FCEDC4</string>
													<key>output</key>
													<string> (</string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>⏸ pause</string>
													</dict>
													<key>keyID</key>
													<string>1C9CF43E-12FD-4C84-B92B-492086A01401</string>
													<key>output</key>
													<string>,</string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>␠(</string>
													</dict>
													<key>keyID</key>
													<string>A01763E3-C958-4A12-B9FD-452B57D143FA</string>
													<key>output</key>
													<string> (</string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>(</string>
													</dict>
													<key>keyID</key>
													<string>(</string>
												</dict>
											</array>
											<key>cellID</key>
											<string>7972AC55-808B-4F21-9925-E5F342A89409</string>
											<key>key</key>
											<dict>
												<key>keyCap</key>
												<dict>
													<key>text</key>
													<string>4⏸ghi</string>
												</dict>
												<key>keyID</key>
												<string>C679C3E8-5987-4EE7-97BB-B38C96C5BB27</string>
												<key>output</key>
												<string>4</string>
											</dict>
										</dict>
										<dict>
											<key>candidateKeys</key>
											<array>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>␠#</string>
													</dict>
													<key>keyID</key>
													<string>4DC35DEC-C005-4BD3-AEB9-3BCED9343BE8</string>
													<key>output</key>
													<string> </string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>␠</string>
													</dict>
													<key>keyID</key>
													<string>547DE763-DD9F-44FC-84C6-B270EE21D7FC</string>
													<key>output</key>
													<string> </string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>␠.</string>
													</dict>
													<key>keyID</key>
													<string>A3E24FDC-879C-4746-B45E-143A86F1EBC1</string>
													<key>output</key>
													<string> </string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>‒#</string>
													</dict>
													<key>keyID</key>
													<string>BB00DB10-B26C-45BB-A300-23F6FD95C3C3</string>
													<key>output</key>
													<string>‒</string>
												</dict>
											</array>
											<key>cellID</key>
											<string>20B8C564-38B0-486E-9153-702588BB6938</string>
											<key>key</key>
											<dict>
												<key>keyCap</key>
												<dict>
													<key>text</key>
													<string>5jkl</string>
												</dict>
												<key>keyID</key>
												<string>174DB820-2426-4EA5-9CFB-22AA6517918F</string>
												<key>output</key>
												<string>5</string>
											</dict>
										</dict>
										<dict>
											<key>candidateKeys</key>
											<array>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>)␠.</string>
													</dict>
													<key>keyID</key>
													<string>6E79FF01-F80C-4332-B3EA-D7AE72C682D8</string>
													<key>output</key>
													<string>) </string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>⌛️wait</string>
													</dict>
													<key>keyID</key>
													<string>0209E3C7-CFDE-41EF-AE6D-26D6985FCD98</string>
													<key>output</key>
													<string>;</string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>)␠</string>
													</dict>
													<key>keyID</key>
													<string>F2DFCF88-6701-44D4-B6E0-AC2774D59E82</string>
													<key>output</key>
													<string>) </string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>)</string>
													</dict>
													<key>keyID</key>
													<string>)</string>
												</dict>
											</array>
											<key>cellID</key>
											<string>182C577B-19B1-4953-BB9E-EAB87CB6566C</string>
											<key>key</key>
											<dict>
												<key>keyCap</key>
												<dict>
													<key>text</key>
													<string>6⌛️mno</string>
												</dict>
												<key>keyID</key>
												<string>E0EA65DF-8779-4ACF-B8E5-4C829A8B071C</string>
												<key>output</key>
												<string>6</string>
											</dict>
										</dict>
										<dict>
											<key>cellID</key>
											<string>081461BB-DC9D-4A99-8EBA-EDA01AE4FDF5</string>
											<key>key</key>
											<dict>
												<key>keyCap</key>
												<dict>
													<key>text</key>
													<string>*</string>
												</dict>
												<key>keyID</key>
												<string>*</string>
											</dict>
										</dict>
										<dict>
											<key>candidateKeys</key>
											<array>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>␠.(</string>
													</dict>
													<key>keyID</key>
													<string>E31384B1-684F-4340-9949-263668FCEDC4</string>
													<key>output</key>
													<string> (</string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>␠(</string>
													</dict>
													<key>keyID</key>
													<string>A01763E3-C958-4A12-B9FD-452B57D143FA</string>
													<key>output</key>
													<string> (</string>
												</dict>
											</array>
											<key>cellID</key>
											<string>F54B1EF8-3C70-45D9-86F0-220A392E04CC</string>
											<key>key</key>
											<dict>
												<key>keyCap</key>
												<dict>
													<key>text</key>
													<string>(</string>
												</dict>
												<key>keyID</key>
												<string>(</string>
											</dict>
										</dict>
										<dict>
											<key>candidateKeys</key>
											<array>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>*</string>
													</dict>
													<key>keyID</key>
													<string>*</string>
												</dict>
											</array>
											<key>cellID</key>
											<string>D960FA09-444B-4798-8023-E7C45738BAB8</string>
											<key>key</key>
											<dict>
												<key>keyCap</key>
												<dict>
													<key>text</key>
													<string>7∗pqrs</string>
												</dict>
												<key>keyID</key>
												<string>03B28EBE-AB46-497B-8A88-2C9D1D7CF1AE</string>
												<key>output</key>
												<string>7</string>
											</dict>
										</dict>
										<dict>
											<key>candidateKeys</key>
											<array>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>.</string>
													</dict>
													<key>keyID</key>
													<string>.</string>
												</dict>
											</array>
											<key>cellID</key>
											<string>ADB5BB7D-4706-4563-BCC6-5F359CC2355C</string>
											<key>key</key>
											<dict>
												<key>keyCap</key>
												<dict>
													<key>text</key>
													<string>8tuv</string>
												</dict>
												<key>keyID</key>
												<string>7E1F8BB0-3C61-492F-AC6C-1D7473B22054</string>
												<key>output</key>
												<string>8</string>
											</dict>
										</dict>
										<dict>
											<key>candidateKeys</key>
											<array>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>#</string>
													</dict>
													<key>keyID</key>
													<string>#</string>
												</dict>
											</array>
											<key>cellID</key>
											<string>3DD2C0A5-925B-430D-8EBC-0EC2D652FE47</string>
											<key>key</key>
											<dict>
												<key>keyCap</key>
												<dict>
													<key>text</key>
													<string>9#wxyz</string>
												</dict>
												<key>keyID</key>
												<string>EF99012F-8A97-4D11-BBAE-698DB1F028AF</string>
												<key>output</key>
												<string>9</string>
											</dict>
										</dict>
										<dict>
											<key>candidateKeys</key>
											<array>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>)␠.</string>
													</dict>
													<key>keyID</key>
													<string>6E79FF01-F80C-4332-B3EA-D7AE72C682D8</string>
													<key>output</key>
													<string>) </string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>)␠</string>
													</dict>
													<key>keyID</key>
													<string>F2DFCF88-6701-44D4-B6E0-AC2774D59E82</string>
													<key>output</key>
													<string>) </string>
												</dict>
											</array>
											<key>cellID</key>
											<string>2E1DE006-EC36-4CDC-AD10-9E69D1E16FA4</string>
											<key>key</key>
											<dict>
												<key>keyCap</key>
												<dict>
													<key>text</key>
													<string>)</string>
												</dict>
												<key>keyID</key>
												<string>)</string>
											</dict>
										</dict>
										<dict>
											<key>backgroundHidden</key>
											<true/>
											<key>cellID</key>
											<string>373763A8-BED7-4DB8-93A1-843D390A7321</string>
										</dict>
										<dict>
											<key>candidateKeys</key>
											<array>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>.</string>
													</dict>
													<key>keyID</key>
													<string>.</string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>␠</string>
													</dict>
													<key>keyID</key>
													<string>547DE763-DD9F-44FC-84C6-B270EE21D7FC</string>
													<key>output</key>
													<string> </string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>␠#</string>
													</dict>
													<key>keyID</key>
													<string>4DC35DEC-C005-4BD3-AEB9-3BCED9343BE8</string>
													<key>output</key>
													<string> </string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>␠.</string>
													</dict>
													<key>keyID</key>
													<string>A3E24FDC-879C-4746-B45E-143A86F1EBC1</string>
													<key>output</key>
													<string> </string>
												</dict>
											</array>
											<key>cellID</key>
											<string>A7A65BDB-4A8F-438A-893F-706515A76876</string>
											<key>key</key>
											<dict>
												<key>keyCap</key>
												<dict>
													<key>text</key>
													<string>␠.</string>
												</dict>
												<key>keyID</key>
												<string>A3E24FDC-879C-4746-B45E-143A86F1EBC1</string>
												<key>output</key>
												<string> </string>
											</dict>
										</dict>
										<dict>
											<key>candidateKeys</key>
											<array>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>+7</string>
													</dict>
													<key>keyID</key>
													<string>1C41279D-009F-4507-94C4-FC518D36D285</string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>+1</string>
													</dict>
													<key>keyID</key>
													<string>9DA9FCAA-C752-4FE5-9B34-48F2B689F801</string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>+7␠.</string>
													</dict>
													<key>keyID</key>
													<string>2BC88F8E-86DA-4BBB-A389-2A5FAB8B9529</string>
													<key>output</key>
													<string>+7 </string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>+7␠#</string>
													</dict>
													<key>keyID</key>
													<string>EE6C63C3-09BF-4F14-8F64-6968CD8DD342</string>
													<key>output</key>
													<string>+7 </string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>+7␠</string>
													</dict>
													<key>keyID</key>
													<string>29D01780-26FC-4D0B-956E-A43C8991CBBD</string>
													<key>output</key>
													<string>+7 </string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>+</string>
													</dict>
													<key>keyID</key>
													<string>+</string>
												</dict>
											</array>
											<key>cellID</key>
											<string>B5A35294-E764-48AB-9C5E-CE37684DF1DE</string>
											<key>key</key>
											<dict>
												<key>keyCap</key>
												<dict>
													<key>text</key>
													<string>0+</string>
												</dict>
												<key>keyID</key>
												<string>5FADDD5F-3D5C-4106-A543-62F568DE771D</string>
												<key>output</key>
												<string>0</string>
											</dict>
										</dict>
										<dict>
											<key>cellID</key>
											<string>4D4BBC9E-B867-4327-9913-8A630CED3FEC</string>
											<key>key</key>
											<dict>
												<key>keyCap</key>
												<dict>
													<key>text</key>
													<string>#</string>
												</dict>
												<key>keyID</key>
												<string>8508C3FD-7957-492E-B59C-4B0FF87ED8CC</string>
											</dict>
										</dict>
										<dict>
											<key>backgroundHidden</key>
											<true/>
											<key>cellID</key>
											<string>9FF29328-F1CB-4E27-8E5B-79340DD26D92</string>
											<key>key</key>
											<dict>
												<key>keyCap</key>
												<dict>
													<key>icon</key>
													<integer>7</integer>
												</dict>
												<key>keyID</key>
												<string>return</string>
												<key>output</key>
												<string>
</string>
												<key>type</key>
												<integer>2</integer>
											</dict>
										</dict>
									</array>
									<key>controlID</key>
									<string>D92A0081-55E3-4321-BF66-57B9FE7B9A3F</string>
									<key>controlType</key>
									<string>keyPad</string>
									<key>layout</key>
									<dict>
										<key>autoModel</key>
										<true/>
										<key>cellGap</key>
										<real>6</real>
										<key>contentInset</key>
										<string>8,3,3,3</string>
										<key>layoutType</key>
										<string>Standard</string>
										<key>rowGap</key>
										<real>11</real>
										<key>rows</key>
										<array>
											<dict>
												<key>alignment</key>
												<integer>0</integer>
												<key>cells</key>
												<array>
													<dict>
														<key>cellID</key>
														<string>9D723D9B-6BB6-4780-AB98-E0A5A637A08A</string>
														<key>floatType</key>
														<integer>0</integer>
														<key>weight</key>
														<real>1.25</real>
													</dict>
													<dict>
														<key>cellID</key>
														<string>86C13128-7E37-45CE-A166-F31522F1726E</string>
														<key>floatType</key>
														<integer>0</integer>
														<key>weight</key>
														<real>2.5</real>
													</dict>
													<dict>
														<key>cellID</key>
														<string>B3136C8E-4415-45ED-932D-4281989EFDBC</string>
														<key>floatType</key>
														<integer>0</integer>
														<key>weight</key>
														<real>2.5</real>
													</dict>
													<dict>
														<key>cellID</key>
														<string>AE1FE572-1D68-4BCB-AF61-364986A397D8</string>
														<key>floatType</key>
														<integer>0</integer>
														<key>weight</key>
														<real>2.5</real>
													</dict>
													<dict>
														<key>cellID</key>
														<string>02F943F2-8152-4772-9947-C33B07404C63</string>
														<key>floatType</key>
														<integer>0</integer>
														<key>weight</key>
														<real>1.25</real>
													</dict>
												</array>
												<key>cellsWeight</key>
												<real>10</real>
												<key>weight</key>
												<real>1</real>
											</dict>
											<dict>
												<key>alignment</key>
												<integer>0</integer>
												<key>cells</key>
												<array>
													<dict>
														<key>cellID</key>
														<string>777C56D6-7AB0-4C79-9A1F-5252CCD2AF08</string>
														<key>floatType</key>
														<integer>0</integer>
														<key>weight</key>
														<real>1.25</real>
													</dict>
													<dict>
														<key>cellID</key>
														<string>EFFCFE79-FB23-43D4-9A0E-0FDCF8649ECB</string>
														<key>floatType</key>
														<integer>0</integer>
														<key>weight</key>
														<real>2.5</real>
													</dict>
													<dict>
														<key>cellID</key>
														<string>C2E7D958-60D1-46CD-B07E-9729C0F117B7</string>
														<key>floatType</key>
														<integer>0</integer>
														<key>weight</key>
														<real>2.5</real>
													</dict>
													<dict>
														<key>cellID</key>
														<string>95E2FCD7-E16C-4D86-AF28-A36D7BC41036</string>
														<key>floatType</key>
														<integer>0</integer>
														<key>weight</key>
														<real>2.5</real>
													</dict>
													<dict>
														<key>cellID</key>
														<string>1CB1242F-E3F5-4C09-A374-1A2170E7F896</string>
														<key>floatType</key>
														<integer>0</integer>
														<key>weight</key>
														<real>1.25</real>
													</dict>
												</array>
												<key>cellsWeight</key>
												<real>10</real>
												<key>weight</key>
												<real>1</real>
											</dict>
											<dict>
												<key>alignment</key>
												<integer>0</integer>
												<key>cells</key>
												<array>
													<dict>
														<key>cellID</key>
														<string>A9CBAB44-39F8-4E2B-9C5B-9C71A0727F56</string>
														<key>floatType</key>
														<integer>0</integer>
														<key>weight</key>
														<real>1.25</real>
													</dict>
													<dict>
														<key>cellID</key>
														<string>7D5099CF-77C9-4999-945B-302B88682B11</string>
														<key>floatType</key>
														<integer>0</integer>
														<key>weight</key>
														<real>2.5</real>
													</dict>
													<dict>
														<key>cellID</key>
														<string>D730315A-92B2-4F10-AB24-61E69A2B6945</string>
														<key>floatType</key>
														<integer>0</integer>
														<key>weight</key>
														<real>2.5</real>
													</dict>
													<dict>
														<key>cellID</key>
														<string>F563FCD4-58E7-4B5A-B0C3-136066A2432E</string>
														<key>floatType</key>
														<integer>0</integer>
														<key>weight</key>
														<real>2.5</real>
													</dict>
													<dict>
														<key>cellID</key>
														<string>756155E9-E4F6-4E3E-B6EC-0A4F18520FE2</string>
														<key>floatType</key>
														<integer>0</integer>
														<key>weight</key>
														<real>1.25</real>
													</dict>
												</array>
												<key>cellsWeight</key>
												<real>10</real>
												<key>weight</key>
												<real>1</real>
											</dict>
											<dict>
												<key>alignment</key>
												<integer>0</integer>
												<key>cells</key>
												<array>
													<dict>
														<key>cellID</key>
														<string>0B94E1D8-DA4B-4900-9929-5B3B27BAF936</string>
														<key>floatType</key>
														<integer>0</integer>
														<key>weight</key>
														<real>1.25</real>
													</dict>
													<dict>
														<key>cellID</key>
														<string>91CBA3FC-242B-40EB-9B10-2C1C059ECC8F</string>
														<key>floatType</key>
														<integer>0</integer>
														<key>weight</key>
														<real>2.5</real>
													</dict>
													<dict>
														<key>cellID</key>
														<string>1EB949E2-7473-4D35-9F22-3804316F6E59</string>
														<key>floatType</key>
														<integer>0</integer>
														<key>weight</key>
														<real>2.5</real>
													</dict>
													<dict>
														<key>cellID</key>
														<string>7F571EFA-174B-43CB-B5C7-2BDA0477C99C</string>
														<key>floatType</key>
														<integer>0</integer>
														<key>weight</key>
														<real>2.5</real>
													</dict>
													<dict>
														<key>cellID</key>
														<string>7C1E1E55-D36E-470F-999B-F06CCB6EE51F</string>
														<key>floatType</key>
														<integer>0</integer>
														<key>weight</key>
														<real>1.25</real>
													</dict>
												</array>
												<key>cellsWeight</key>
												<real>10</real>
												<key>weight</key>
												<real>1</real>
											</dict>
										</array>
										<key>rowsWeight</key>
										<real>4</real>
									</dict>
									<key>layoutMap</key>
									<dict>
										<key>02F943F2-8152-4772-9947-C33B07404C63</key>
										<string>601B7F98-769C-452E-90CF-AADA1ED62A96</string>
										<key>0B94E1D8-DA4B-4900-9929-5B3B27BAF936</key>
										<string>373763A8-BED7-4DB8-93A1-843D390A7321</string>
										<key>1CB1242F-E3F5-4C09-A374-1A2170E7F896</key>
										<string>081461BB-DC9D-4A99-8EBA-EDA01AE4FDF5</string>
										<key>1EB949E2-7473-4D35-9F22-3804316F6E59</key>
										<string>B5A35294-E764-48AB-9C5E-CE37684DF1DE</string>
										<key>756155E9-E4F6-4E3E-B6EC-0A4F18520FE2</key>
										<string>2E1DE006-EC36-4CDC-AD10-9E69D1E16FA4</string>
										<key>777C56D6-7AB0-4C79-9A1F-5252CCD2AF08</key>
										<string>41F7970C-4FED-4FB5-92DD-EA799B5EADB7</string>
										<key>7C1E1E55-D36E-470F-999B-F06CCB6EE51F</key>
										<string>9FF29328-F1CB-4E27-8E5B-79340DD26D92</string>
										<key>7D5099CF-77C9-4999-945B-302B88682B11</key>
										<string>D960FA09-444B-4798-8023-E7C45738BAB8</string>
										<key>7F571EFA-174B-43CB-B5C7-2BDA0477C99C</key>
										<string>4D4BBC9E-B867-4327-9913-8A630CED3FEC</string>
										<key>86C13128-7E37-45CE-A166-F31522F1726E</key>
										<string>236E8453-999C-41C1-B743-11524C74B17F</string>
										<key>91CBA3FC-242B-40EB-9B10-2C1C059ECC8F</key>
										<string>A7A65BDB-4A8F-438A-893F-706515A76876</string>
										<key>95E2FCD7-E16C-4D86-AF28-A36D7BC41036</key>
										<string>182C577B-19B1-4953-BB9E-EAB87CB6566C</string>
										<key>9D723D9B-6BB6-4780-AB98-E0A5A637A08A</key>
										<string>355A8159-E8D3-4257-8A20-93150A9BFF1C</string>
										<key>A9CBAB44-39F8-4E2B-9C5B-9C71A0727F56</key>
										<string>F54B1EF8-3C70-45D9-86F0-220A392E04CC</string>
										<key>AE1FE572-1D68-4BCB-AF61-364986A397D8</key>
										<string>26506446-6BF2-4709-94D0-6668395D44E5</string>
										<key>B3136C8E-4415-45ED-932D-4281989EFDBC</key>
										<string>06D95483-04E4-484F-8A54-B5646F810CAB</string>
										<key>C2E7D958-60D1-46CD-B07E-9729C0F117B7</key>
										<string>20B8C564-38B0-486E-9153-702588BB6938</string>
										<key>D730315A-92B2-4F10-AB24-61E69A2B6945</key>
										<string>ADB5BB7D-4706-4563-BCC6-5F359CC2355C</string>
										<key>EFFCFE79-FB23-43D4-9A0E-0FDCF8649ECB</key>
										<string>7972AC55-808B-4F21-9925-E5F342A89409</string>
										<key>F563FCD4-58E7-4B5A-B0C3-136066A2432E</key>
										<string>3DD2C0A5-925B-430D-8EBC-0EC2D652FE47</string>
									</dict>
								</dict>
								<key>layerID</key>
								<string>B37128EA-7A5B-4815-A6C4-A5C9CA9ADFFE</string>
							</dict>
						</array>
						<key>sectionID</key>
						<string>07035D88-FC71-465D-946E-F120F5CF39D8</string>
					</dict>
				</array>
				<key>title</key>
				<string>☎️Phone</string>
			</dict>
		</array>
		<key>panelID</key>
		<string>B5296D1C-3572-4956-BC8E-EA8ED63C177A</string>
	</dict>
</dict>
</plist>
