<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deviceType</key>
	<integer>0</integer>
	<key>heightRatio</key>
	<real>1</real>
	<key>panel</key>
	<dict>
		<key>layers</key>
		<array>
			<dict>
				<key>layerID</key>
				<string>8293FD9D-933E-495A-BC09-F65EE2EE8B7D</string>
				<key>layout</key>
				<dict>
					<key>autoModel</key>
					<true/>
					<key>cell</key>
					<dict>
						<key>cellID</key>
						<string>FB8C4732-8D6C-4FD7-9504-DE28318B63AB</string>
					</dict>
					<key>layoutType</key>
					<string>One</string>
				</dict>
				<key>layoutMap</key>
				<dict>
					<key>FB8C4732-8D6C-4FD7-9504-DE28318B63AB</key>
					<string>E0537237-6C23-4E05-841D-264C8F8EB698</string>
				</dict>
				<key>sections</key>
				<array>
					<dict>
						<key>layers</key>
						<array>
							<dict>
								<key>control</key>
								<dict>
									<key>cells</key>
									<array>
										<dict>
											<key>candidateKeys</key>
											<array>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>(</string>
													</dict>
													<key>keyID</key>
													<string>(</string>
												</dict>
											</array>
											<key>cellID</key>
											<string>236E8453-999C-41C1-B743-11524C74B17F</string>
											<key>key</key>
											<dict>
												<key>keyCap</key>
												<dict>
													<key>text</key>
													<string>1</string>
												</dict>
												<key>keyID</key>
												<string>1</string>
												<key>output</key>
												<string>1</string>
											</dict>
										</dict>
										<dict>
											<key>candidateKeys</key>
											<array>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>;</string>
													</dict>
													<key>keyID</key>
													<string>;</string>
												</dict>
											</array>
											<key>cellID</key>
											<string>06D95483-04E4-484F-8A54-B5646F810CAB</string>
											<key>key</key>
											<dict>
												<key>keyCap</key>
												<dict>
													<key>text</key>
													<string>2abc</string>
												</dict>
												<key>keyID</key>
												<string>CF989C67-DB94-404C-AAE3-247327120CF3</string>
												<key>output</key>
												<string>2</string>
											</dict>
										</dict>
										<dict>
											<key>candidateKeys</key>
											<array>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>)</string>
													</dict>
													<key>keyID</key>
													<string>)</string>
												</dict>
											</array>
											<key>cellID</key>
											<string>26506446-6BF2-4709-94D0-6668395D44E5</string>
											<key>key</key>
											<dict>
												<key>keyCap</key>
												<dict>
													<key>text</key>
													<string>3def</string>
												</dict>
												<key>keyID</key>
												<string>720E93AB-C539-4422-B20D-5D3A520A0043</string>
												<key>output</key>
												<string>3</string>
											</dict>
										</dict>
										<dict>
											<key>candidateKeys</key>
											<array>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>␠.(</string>
													</dict>
													<key>keyID</key>
													<string>E31384B1-684F-4340-9949-263668FCEDC4</string>
													<key>output</key>
													<string> (</string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>⏸pause</string>
													</dict>
													<key>keyID</key>
													<string>1C9CF43E-12FD-4C84-B92B-492086A01401</string>
													<key>output</key>
													<string>,</string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>␠(</string>
													</dict>
													<key>keyID</key>
													<string>A01763E3-C958-4A12-B9FD-452B57D143FA</string>
													<key>output</key>
													<string> (</string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>(</string>
													</dict>
													<key>keyID</key>
													<string>(</string>
												</dict>
											</array>
											<key>cellID</key>
											<string>7972AC55-808B-4F21-9925-E5F342A89409</string>
											<key>key</key>
											<dict>
												<key>keyCap</key>
												<dict>
													<key>text</key>
													<string>4⏸</string>
												</dict>
												<key>keyID</key>
												<string>C679C3E8-5987-4EE7-97BB-B38C96C5BB27</string>
												<key>output</key>
												<string>4</string>
											</dict>
										</dict>
										<dict>
											<key>candidateKeys</key>
											<array>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>␠#</string>
													</dict>
													<key>keyID</key>
													<string>4DC35DEC-C005-4BD3-AEB9-3BCED9343BE8</string>
													<key>output</key>
													<string> </string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>␠</string>
													</dict>
													<key>keyID</key>
													<string>0417B98D-D5F9-4E26-B3E0-3B65DF0493E8</string>
													<key>output</key>
													<string> </string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>␠.</string>
													</dict>
													<key>keyID</key>
													<string>093B8004-0E7E-482B-A23E-64994EBADB30</string>
													<key>output</key>
													<string> </string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>‒#</string>
													</dict>
													<key>keyID</key>
													<string>BB00DB10-B26C-45BB-A300-23F6FD95C3C3</string>
													<key>output</key>
													<string>‒</string>
												</dict>
											</array>
											<key>cellID</key>
											<string>20B8C564-38B0-486E-9153-702588BB6938</string>
											<key>key</key>
											<dict>
												<key>keyCap</key>
												<dict>
													<key>text</key>
													<string>5jkl</string>
												</dict>
												<key>keyID</key>
												<string>174DB820-2426-4EA5-9CFB-22AA6517918F</string>
												<key>output</key>
												<string>5</string>
											</dict>
										</dict>
										<dict>
											<key>candidateKeys</key>
											<array>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>)␠.</string>
													</dict>
													<key>keyID</key>
													<string>6E79FF01-F80C-4332-B3EA-D7AE72C682D8</string>
													<key>output</key>
													<string>) </string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>⌛️wait</string>
													</dict>
													<key>keyID</key>
													<string>0209E3C7-CFDE-41EF-AE6D-26D6985FCD98</string>
													<key>output</key>
													<string>;</string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>)␠</string>
													</dict>
													<key>keyID</key>
													<string>F2DFCF88-6701-44D4-B6E0-AC2774D59E82</string>
													<key>output</key>
													<string>) </string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>)</string>
													</dict>
													<key>keyID</key>
													<string>)</string>
												</dict>
											</array>
											<key>cellID</key>
											<string>182C577B-19B1-4953-BB9E-EAB87CB6566C</string>
											<key>key</key>
											<dict>
												<key>keyCap</key>
												<dict>
													<key>text</key>
													<string>6⌛️</string>
												</dict>
												<key>keyID</key>
												<string>E0EA65DF-8779-4ACF-B8E5-4C829A8B071C</string>
												<key>output</key>
												<string>6</string>
											</dict>
										</dict>
										<dict>
											<key>candidateKeys</key>
											<array>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>*</string>
													</dict>
													<key>keyID</key>
													<string>*</string>
												</dict>
											</array>
											<key>cellID</key>
											<string>D960FA09-444B-4798-8023-E7C45738BAB8</string>
											<key>key</key>
											<dict>
												<key>keyCap</key>
												<dict>
													<key>text</key>
													<string>7∗pqrs</string>
												</dict>
												<key>keyID</key>
												<string>03B28EBE-AB46-497B-8A88-2C9D1D7CF1AE</string>
												<key>output</key>
												<string>7</string>
											</dict>
										</dict>
										<dict>
											<key>candidateKeys</key>
											<array>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>.</string>
													</dict>
													<key>keyID</key>
													<string>.</string>
												</dict>
											</array>
											<key>cellID</key>
											<string>ADB5BB7D-4706-4563-BCC6-5F359CC2355C</string>
											<key>key</key>
											<dict>
												<key>keyCap</key>
												<dict>
													<key>text</key>
													<string>8tuv</string>
												</dict>
												<key>keyID</key>
												<string>7E1F8BB0-3C61-492F-AC6C-1D7473B22054</string>
												<key>output</key>
												<string>8</string>
											</dict>
										</dict>
										<dict>
											<key>candidateKeys</key>
											<array>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>#</string>
													</dict>
													<key>keyID</key>
													<string>#</string>
												</dict>
											</array>
											<key>cellID</key>
											<string>3DD2C0A5-925B-430D-8EBC-0EC2D652FE47</string>
											<key>key</key>
											<dict>
												<key>keyCap</key>
												<dict>
													<key>text</key>
													<string>9#wxyz</string>
												</dict>
												<key>keyID</key>
												<string>EF99012F-8A97-4D11-BBAE-698DB1F028AF</string>
												<key>output</key>
												<string>9</string>
											</dict>
										</dict>
										<dict>
											<key>backgroundHidden</key>
											<true/>
											<key>candidateKeys</key>
											<array>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>.</string>
													</dict>
													<key>keyID</key>
													<string>.</string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>,</string>
													</dict>
													<key>keyID</key>
													<string>,</string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>;</string>
													</dict>
													<key>keyID</key>
													<string>;</string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>␠</string>
													</dict>
													<key>keyID</key>
													<string>0417B98D-D5F9-4E26-B3E0-3B65DF0493E8</string>
													<key>output</key>
													<string> </string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>␠#</string>
													</dict>
													<key>keyID</key>
													<string>4DC35DEC-C005-4BD3-AEB9-3BCED9343BE8</string>
													<key>output</key>
													<string> </string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>␠.</string>
													</dict>
													<key>keyID</key>
													<string>093B8004-0E7E-482B-A23E-64994EBADB30</string>
													<key>output</key>
													<string> </string>
												</dict>
											</array>
											<key>cellID</key>
											<string>A7A65BDB-4A8F-438A-893F-706515A76876</string>
											<key>key</key>
											<dict>
												<key>keyCap</key>
												<dict>
													<key>text</key>
													<string>‒#</string>
												</dict>
												<key>keyID</key>
												<string>BB00DB10-B26C-45BB-A300-23F6FD95C3C3</string>
												<key>output</key>
												<string>‒</string>
											</dict>
										</dict>
										<dict>
											<key>candidateKeys</key>
											<array>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>+7</string>
													</dict>
													<key>keyID</key>
													<string>1C41279D-009F-4507-94C4-FC518D36D285</string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>+1</string>
													</dict>
													<key>keyID</key>
													<string>9DA9FCAA-C752-4FE5-9B34-48F2B689F801</string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>+7␠.</string>
													</dict>
													<key>keyID</key>
													<string>2BC88F8E-86DA-4BBB-A389-2A5FAB8B9529</string>
													<key>output</key>
													<string>+7 </string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>+7␠#</string>
													</dict>
													<key>keyID</key>
													<string>EE6C63C3-09BF-4F14-8F64-6968CD8DD342</string>
													<key>output</key>
													<string>+7 </string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>+7␠</string>
													</dict>
													<key>keyID</key>
													<string>29D01780-26FC-4D0B-956E-A43C8991CBBD</string>
													<key>output</key>
													<string>+7 </string>
												</dict>
												<dict>
													<key>keyCap</key>
													<dict>
														<key>text</key>
														<string>+</string>
													</dict>
													<key>keyID</key>
													<string>+</string>
												</dict>
											</array>
											<key>cellID</key>
											<string>B5A35294-E764-48AB-9C5E-CE37684DF1DE</string>
											<key>key</key>
											<dict>
												<key>keyCap</key>
												<dict>
													<key>text</key>
													<string>0+</string>
												</dict>
												<key>keyID</key>
												<string>5FADDD5F-3D5C-4106-A543-62F568DE771D</string>
												<key>output</key>
												<string>0</string>
											</dict>
										</dict>
										<dict>
											<key>backgroundHidden</key>
											<true/>
											<key>cellID</key>
											<string>F856D9C6-E5E9-4C47-B1C1-1EABAFC81ECE</string>
											<key>key</key>
											<dict>
												<key>keyCap</key>
												<dict>
													<key>icon</key>
													<integer>2</integer>
												</dict>
												<key>keyID</key>
												<string>backspace</string>
												<key>repeatEnabled</key>
												<true/>
												<key>type</key>
												<integer>3</integer>
											</dict>
										</dict>
									</array>
									<key>controlID</key>
									<string>086F5A9A-6879-416F-9EEA-59C8E424A1E6</string>
									<key>controlType</key>
									<string>keyPad</string>
									<key>layout</key>
									<dict>
										<key>autoModel</key>
										<true/>
										<key>cells</key>
										<array>
											<dict>
												<key>cellID</key>
												<string>6E5E0239-A275-4493-B575-B2C73AA714C8</string>
												<key>col</key>
												<integer>0</integer>
												<key>colSpan</key>
												<integer>1</integer>
												<key>row</key>
												<integer>0</integer>
												<key>rowSpan</key>
												<integer>1</integer>
											</dict>
											<dict>
												<key>cellID</key>
												<string>25A2C1FE-B822-4AD1-AF8A-64524D5C3264</string>
												<key>col</key>
												<integer>1</integer>
												<key>colSpan</key>
												<integer>1</integer>
												<key>row</key>
												<integer>0</integer>
												<key>rowSpan</key>
												<integer>1</integer>
											</dict>
											<dict>
												<key>cellID</key>
												<string>7C7AA437-0562-4BFE-8C40-811B4877B83E</string>
												<key>col</key>
												<integer>2</integer>
												<key>colSpan</key>
												<integer>1</integer>
												<key>row</key>
												<integer>0</integer>
												<key>rowSpan</key>
												<integer>1</integer>
											</dict>
											<dict>
												<key>cellID</key>
												<string>429D72CE-62A4-4826-9B46-5A52718A2F02</string>
												<key>col</key>
												<integer>0</integer>
												<key>colSpan</key>
												<integer>1</integer>
												<key>row</key>
												<integer>1</integer>
												<key>rowSpan</key>
												<integer>1</integer>
											</dict>
											<dict>
												<key>cellID</key>
												<string>94DFE1BB-2BDE-4FD6-BC4B-6FFB128B22E6</string>
												<key>col</key>
												<integer>1</integer>
												<key>colSpan</key>
												<integer>1</integer>
												<key>row</key>
												<integer>1</integer>
												<key>rowSpan</key>
												<integer>1</integer>
											</dict>
											<dict>
												<key>cellID</key>
												<string>53ECDC04-80E7-44D9-AA06-3EFFB90C119F</string>
												<key>col</key>
												<integer>2</integer>
												<key>colSpan</key>
												<integer>1</integer>
												<key>row</key>
												<integer>1</integer>
												<key>rowSpan</key>
												<integer>1</integer>
											</dict>
											<dict>
												<key>cellID</key>
												<string>4A0EF42D-4CE1-4710-B1D5-A7AA66545812</string>
												<key>col</key>
												<integer>0</integer>
												<key>colSpan</key>
												<integer>1</integer>
												<key>row</key>
												<integer>2</integer>
												<key>rowSpan</key>
												<integer>1</integer>
											</dict>
											<dict>
												<key>cellID</key>
												<string>17C5EDF4-E6B9-4A75-B81A-6196CB8603CC</string>
												<key>col</key>
												<integer>1</integer>
												<key>colSpan</key>
												<integer>1</integer>
												<key>row</key>
												<integer>2</integer>
												<key>rowSpan</key>
												<integer>1</integer>
											</dict>
											<dict>
												<key>cellID</key>
												<string>018DC088-45B8-4BD1-B8CA-C14EE0588946</string>
												<key>col</key>
												<integer>2</integer>
												<key>colSpan</key>
												<integer>1</integer>
												<key>row</key>
												<integer>2</integer>
												<key>rowSpan</key>
												<integer>1</integer>
											</dict>
											<dict>
												<key>cellID</key>
												<string>8F47BDEB-8F90-420F-B0AB-5E7E28301623</string>
												<key>col</key>
												<integer>0</integer>
												<key>colSpan</key>
												<integer>1</integer>
												<key>row</key>
												<integer>3</integer>
												<key>rowSpan</key>
												<integer>1</integer>
											</dict>
											<dict>
												<key>cellID</key>
												<string>0A030B2C-CA27-49F6-A329-8A50E23D382C</string>
												<key>col</key>
												<integer>1</integer>
												<key>colSpan</key>
												<integer>1</integer>
												<key>row</key>
												<integer>3</integer>
												<key>rowSpan</key>
												<integer>1</integer>
											</dict>
											<dict>
												<key>cellID</key>
												<string>DB0625EC-54C1-467A-9ABA-750C39BBAACD</string>
												<key>col</key>
												<integer>2</integer>
												<key>colSpan</key>
												<integer>1</integer>
												<key>row</key>
												<integer>3</integer>
												<key>rowSpan</key>
												<integer>1</integer>
											</dict>
										</array>
										<key>colCount</key>
										<integer>3</integer>
										<key>contentInset</key>
										<string>6,6,6,6</string>
										<key>gap</key>
										<integer>6</integer>
										<key>layoutType</key>
										<string>Table</string>
										<key>rowCount</key>
										<integer>4</integer>
									</dict>
									<key>layoutMap</key>
									<dict>
										<key>018DC088-45B8-4BD1-B8CA-C14EE0588946</key>
										<string>3DD2C0A5-925B-430D-8EBC-0EC2D652FE47</string>
										<key>0A030B2C-CA27-49F6-A329-8A50E23D382C</key>
										<string>B5A35294-E764-48AB-9C5E-CE37684DF1DE</string>
										<key>17C5EDF4-E6B9-4A75-B81A-6196CB8603CC</key>
										<string>ADB5BB7D-4706-4563-BCC6-5F359CC2355C</string>
										<key>25A2C1FE-B822-4AD1-AF8A-64524D5C3264</key>
										<string>06D95483-04E4-484F-8A54-B5646F810CAB</string>
										<key>429D72CE-62A4-4826-9B46-5A52718A2F02</key>
										<string>7972AC55-808B-4F21-9925-E5F342A89409</string>
										<key>4A0EF42D-4CE1-4710-B1D5-A7AA66545812</key>
										<string>D960FA09-444B-4798-8023-E7C45738BAB8</string>
										<key>53ECDC04-80E7-44D9-AA06-3EFFB90C119F</key>
										<string>182C577B-19B1-4953-BB9E-EAB87CB6566C</string>
										<key>6E5E0239-A275-4493-B575-B2C73AA714C8</key>
										<string>236E8453-999C-41C1-B743-11524C74B17F</string>
										<key>7C7AA437-0562-4BFE-8C40-811B4877B83E</key>
										<string>26506446-6BF2-4709-94D0-6668395D44E5</string>
										<key>8F47BDEB-8F90-420F-B0AB-5E7E28301623</key>
										<string>A7A65BDB-4A8F-438A-893F-706515A76876</string>
										<key>94DFE1BB-2BDE-4FD6-BC4B-6FFB128B22E6</key>
										<string>20B8C564-38B0-486E-9153-702588BB6938</string>
										<key>DB0625EC-54C1-467A-9ABA-750C39BBAACD</key>
										<string>F856D9C6-E5E9-4C47-B1C1-1EABAFC81ECE</string>
									</dict>
								</dict>
								<key>layerID</key>
								<string>AE003F0D-E65D-49DF-8A88-64C46DC7B707</string>
							</dict>
						</array>
						<key>sectionID</key>
						<string>E0537237-6C23-4E05-841D-264C8F8EB698</string>
					</dict>
				</array>
				<key>title</key>
				<string>☎️Phone</string>
			</dict>
		</array>
		<key>panelID</key>
		<string>B5296D1C-3572-4956-BC8E-EA8ED63C177A</string>
	</dict>
</dict>
</plist>
